/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
        /* Debug */
        background-color: lightslategray;
        height: 500px;
}

.topheader {
    /* Debug */
    height: 80px;
    background-color: #add8e6;

}
.flexcontainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.column {
    width: 100%;
}

.col {
    margin: auto;
    width: 60%;
    /* Debug */
    background-color: goldenrod;
    height: 40px;
    border: 2px dotted black;
}

a {
    text-decoration: none;
    color: inherit;
}

.bottomheader {
     /* debug */
     background-color: darkblue;
     height: 420px;
}

ul.flexcontainer {
    align-items: center;
    justify-content: space-between;

}
li {
    list-style-type: none;
    border: 1px dotted black;
   
}


.square {
    margin: auto;
    width: 50%;


    /* Debug */
    background-color: violet;
    height: 90%;
    border: 2px dotted black;
}


/* Fine Header */



/* Inizio Main */

.main {
    height: 400px;
}
/* Common Color INIZIO */
.grey {
    background-color: lightgrey;
}
.white {
    background-color: white;
}

.green {
    background-color: green;
}

.logo, .button {
    background-color: #ffb6c0;
    align-self: center;
    font-size: 12px;
    text-align: center;
    padding: 2px;
}
/* Common Color FINE */
.boxxone {

        margin: auto;
        width: 60%;
        display: flex;
        align-items: center;
    
        /* Debug */
        background-color: green;
        height: 90%;
        border: 2px dotted black;
}

.box {
    margin: auto;
    width: 60%;
    display: flex;
    align-items: center;

    /* Debug */
    background-color: #1c90ff;
    height: 100%;
    border: 2px dotted black;

}

.box2 {
    margin: auto;
    width: 40%;
    display: flex;
    align-items: center;

        /* Debug */
        background-color: #febfcb;
        height: 100%;
        border: 2px dotted black;
}


/* Fine Main */

/* Inizio Footer */

footer {
    height: 500px;
    background-color: #23272a;
}

.topfooter {
    height: 93.2%;
  
}

.footerbox1 {
    background-color: #ef8080;
    width: 40%;
    height: 100%;
    border: 1px dotted black;
}

.footerbox2 {
    background-color: #20b1a9;
    border: 1px dotted black;
    width: 20%;
    height: 100%;
}

#footer {
    align-items: flex-end;
}

.bottombox {
    margin: auto;
    width: 60%;
    height: 32px;
    /* debug */
    background-color: #7fffd3;

}

