/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
        /* Debug */
        background-color: lightslategray;
        height: 500px;
}

.topheader {
    /* Debug */
    height: 80px;
    background-color: #add8e6;

}
.flexcontainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.column {
    width: 100%;
}

.col {
    margin: auto;
    width: 60%;
    display: flex;
    align-items: center;

    /* Debug */
    background-color: goldenrod;
    height: 40px;
    border: 2px dotted black;
}

a {
    text-decoration: none;
    color: inherit;
}

.bottomheader {
     /* debug */
     background-color: darkblue;
     height: 420px;
}

.square {
    margin: auto;
    width: 50%;


    /* Debug */
    background-color: violet;
    height: 90%;
    border: 2px dotted black;
}


/* Fine Header */



/* Inizio Main */

.main {
    height: 400px;
}
/* Common Color INIZIO */
.grey {
    background-color: lightgrey;
}
.white {
    background-color: white;
}

.green {
    background-color: green;
}

/* Common Color FINE */
.boxxone {

        margin: auto;
        width: 60%;
        display: flex;
        align-items: center;
    
        /* Debug */
        background-color: green;
        height: 90%;
        border: 2px dotted black;
}

.box {
    margin: auto;
    width: 60%;
    display: flex;
    align-items: center;

    /* Debug */
    background-color: #1c90ff;
    height: 100%;
    border: 2px dotted black;

}

.box2 {
    margin: auto;
    width: 40%;
    display: flex;
    align-items: center;

        /* Debug */
        background-color: #febfcb;
        height: 100%;
        border: 2px dotted black;
}


/* Fine Main */