/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
        /* Debug */
        background-color: lightslategray;
       
}
.topheader {
    /* Debug */
    height: 80px;
    background-color: #add8e6;

}
.flexcontainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.column {
    display: flex;
    align-self: center;
    width: 100%;
}

.col {
    border: 1px dotted black;
    margin: auto;
    width: 60%;
    display: flex;
    align-items: center;

    /* Debug */
    background-color: goldenrod;
    height: 40px;
       
    
}

a {
    text-decoration: none;
    color: inherit;
}

